{% extends "base.html" %}

{% block title %}Login - Kessel Run{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1>Kessel Run</h1>
        <p class="subtitle">Instagram Monitor Dashboard</p>
        
        <form method="POST" action="{{ url_for('login') }}">
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required autofocus>
            </div>
            <button type="submit" class="btn btn-primary btn-full">Login</button>
        </form>
    </div>
</div>
{% endblock %}


